$defaultFont: 'Robot', sans-serif;
$writtenFont: 'Fruktur', cursive;

$defaultTextSize: 18px;

$headerBackgroundColor: #d2cfd2;

$linkColor: #0599C2;
$linkHoverColor: #9685BA;

$linkButtonColor: #837c83;

$boxColor: #999999be;
$whiteText: #fff;

$wrapperBoxColor: #c6c6c6;
$wrapperPadding: 50px;

$boxShadow: 5px 5px 5px 10px #888888;